form
{
    font-family: Helvetica;
    width: 400px;
    text-align: center;
    margin-left: 100px;
}

input
{
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    margin-bottom: 10px;
}

legend
{
    text-align: left;
}

label
{
    display: block;
    width: 100px;
    float: left;
    text-align: left;
}

#envoyer
{
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
    background-color: #34c924 ;
    width: 400px;
}