#conteneur_bloc_droit
{
    position: relative;
    float: right;
    bottom: 100px;
    border: 1px solid #FFFFFF;
    width: 395px;
    background-color: #FFFFFF;
    padding-top: 30px;
    border-radius: 10px;
    height: 320px;
    left: 35%;
}

#bloc_gauche
{
    position: relative;
    left: 30%;
    top: 150px;
    margin-right: 50px;
}

#email
{
    margin-right: 100px;
}

.mdp-oublie
{
    color: #166FE5;
    text-align: right;
    position: relative;
    bottom: 15px;
    left: 40px;
    font-size: 15px;
    font-family: 'Roboto';
    text-decoration: none;
}

.btn-connection
{
    background-color: #166FE5;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: 350px;
    left: 90px;
    position: relative;
    bottom: 25px;
}

.btn-cree
{
    position: relative;
    background-color: #36A420;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    width: 220px;
    left: 40px;
    border-radius: 5px;
    border: 1px solid #36A420;
    padding: 13px;
}

.box
{
    text-align: left;
    background-color: #FFFFFF;
    border-color: #dddfe2;
    color: #BECEE1;
    font-size: 1em;
    width: 318px;
    left: 90px;
    position: relative;
    bottom: 25px;
}

.flote_pas
{
    clear: both;
}

body
{
    background-color: #f0f2f5;
    width: 850px;
    height: 20px;
}

main
{    
    position: relative;
}


img
{
    position: relative;
    top: 25px;
    right: 35px;
}

form
{
    position: absolute;
    top: 40px;
    right: 15px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.1em;
}

hr
{
    width: 350px;
    position: relative;
    bottom: 10px;
    left: 50px;
    color: #f0f2f5;
}

input
{
    display: block;
    position: relative;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    margin-right: 100px;
}

footer
{
    position: relative;
    top: 360px;
}

h2
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.7em;
}